

<!--               이 코드를 삽입하면 로그인 모달이 삽입됨                   -->
<!--<div th:insert="~{fragments/modal :: loginModal}"></div>-->

<div id="loginModal" class="modal-overlay" th:fragment="loginModal">
    <div class="modal-content">
        <button class="modal-close-btn">&times;</button>
        <h2 class="modal-title">로그인</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="login-id">아이디/이메일</label>
                <input type="text" id="login-id" name="id" placeholder="아이디 또는 이메일 주소를 입력해주세요." required>
            </div>
            <div class="form-group">
                <label for="login-password">비밀번호</label>
                <input type="password" id="login-password" name="password" placeholder="비밀번호를 입력해주세요." required>
            </div>
            <div class="modal-actions">
                <button type="submit" class="btn-login-submit">로그인하기</button>
                <button type="button" class="btn-signup">회원가입</button>
            </div>
        </form>
    </div>
</div>
