<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="main-header" th:fragment="mainHeader">
        <div class="container">
            <a href="#" class="logo">Vibe Fiction</a>
            <nav class="main-nav">
                <ul>
                    <li><a href="#">소설 탐색</a></li>
                    <li><a href="#">내 소설</a></li>
                    <li><a href="#" class="btn-mypage">마이페이지</a></li>
                    <li><a href="#" class="btn-logout">로그아웃</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>
